 
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img\ lock.jpg);
    background-size: 100%;
    margin-left : 550px;
}
.container h1{
    color: blue;
    font-size: 30px;
    font-style: italic;
}
img{
    width:20px
}
.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #6eabed;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    background-color: darkorange;
    color: white;
}
body{
    background-image: url('C:/Users/venu gopisetti/venu/.vscode/img lock.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}